<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

Exercise 1: Create a Jupyter Notebook

File name: DataScienceEcosystem.ipynb

Exercise 2: Create a markdown cell with the title of the notebook

#Data Science Tools and Ecosystem

Exercise 3: Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 4: Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Julia
6. Ruby
7. Java
8. C++
9. MATLAB

Exercise 5: Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. BeautifulSoup
2. Matplotlib
3. ggplot2
4. Pandas
5. Numpy
6. Scipy
7. Keras
8. dplyr
9. carat
10. PyTorch

Exercise 6: Create a markdown cell with a table of Data Science tools

| Data Science Tools |
|-------------------|
| Apache Hadoop  |
| TensorFlow           |
| Apache Spark          |

Exercise 7: Create a markdown cell introducing arithmetic expression examples
Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
#Simple Addition
print(1+1)

2

In [13]:
#Volume of a cone with radius 15 and height 9
print(math.pi*15**2*9/3)

2120.57504117311

Exercise 8: Create a code cell to multiply and add numbers

In [14]:
#PEMDAS in use
print((32+88)*39)

4680

Exercise 9: Create a code cell to convert minutes to hours

In [15]:
#This will convert 200 minuts to hours by dividing by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

Exercise 10: Insert a markdown cell to list Objectives

**Objectives:**


*   Popular Data Science Libraries
*   Popular Data Science Languages
*   Using Github
*   Using Jupyter Notebooks

Exercise 11: Create a markdown cell to indicate the Author's name

##Author
Kevin Chiang